
* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#game-field-controls {
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
}
#game-field-controls button{
    background-color: #ED7D31;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    min-height: 2rem;
    min-width: 5rem;
    transition: 220ms all ease-in-out;
    margin: 1rem;
}
#game-field-controls button:hover {
    background-color: #da8144;
}
#game-field-controls button:hover {
    outline-color: transparent;
    outline-style: solid;
    outline-width: 1px;
}

#game-history {
    width: 100%;
}

.hidden {
    display: none;
}
